.header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.banner{
    display: block;
    margin: 20px 200px 40px 200px;
    padding: 20px;
    text-align: center;
}   
.banner-pic{
    width: 240px;
    height: 240px;
    position: center;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-description{
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    font-family: Azeret Mono;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-primary{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Azeret Mono;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}