.header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.banner{
    display: block;
    margin: 20px 200px 40px 200px;
    padding: 20px;
    text-align: center;
}   
.banner-pic{
    width: 240px;
    height: 240px;
    position: center;
}
.banner-title{
    display: flex;
    justify-content: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-description{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    font-family: Azeret Mono;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn-primary{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Azeret Mono;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}
.section{
    background-color: rgb(246, 251, 253);
    display: flex;
    justify-content: center;
    margin: 74px 152px 90px 148px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 77px;
    font-family: Azeret Mono;
    text-align: center;
}

.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.display{  
    background-color: rgb(251, 249, 242);
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
    border-radius: 10px;
    text-align: center;
}
.btn-2{
    font-size: 17px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}